{% extends 'blog/parent/base.html' %}
{% block title %}Detail{% endblock %}
{% load blog_tags %}
{% block content %}
    <h2>
        {{ post.title }}
    </h2>
    <i>
        written by: {{ post.author }}
    </i>
    <div style="width: 600px">
        <p>
            context: <br>
    {#        {{ post.body | linebreaks | truncatewords:3 }}#}
            {{ post.body | linebreaks }}
        </p>
    </div>
    <hr>
    <p>
        published in {{ post.publish }}
    </p>
    <a href="{% url 'blog:share-post' post.id %}">
        <p>share by email</p>
    </a>
    <br>
    <a href="{% url "blog:post_list" %}">
        back
    </a>
    <br><br>
    <div class="comment">
        <div class="new-comment">
            <h3 style="align-content: center">New Comment</h3>
            <form method="post">
                {% csrf_token %}
                {{ cm_form.as_p }}
                {% if ncm %}
                    <p style="color: green">
                        Comment Submitted Successfully!
                    </p>
                {% endif %}
                <input type="submit" value="comment">
            </form>
        </div>
        <br>
        {% with cm.count as count %}
            this post have {{ count }} comment
            <br>
            {% for comment in cm %}
                <div style="border: solid 1px green">
                {{ forloop.counter }}- {{ comment.name }}:
                <br>
                {{ comment.body }}
                </div>
                <br>
            {% empty %}
                There is no comment!
            {% endfor %}
        {% endwith %}
    </div>
    <div>
        Tags:
        {% for tag in post.tags.all %}
            {{ tag.name }}
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </div>
    <hr>
    <div>
        similar posts:
        <br>
        {% for sm in similar_posts %}
            <a href="{% url 'blog:post_detail' sm.slug sm.id %}">{{ sm.title }}</a>
            <br>
        {% empty %}
            There is not any posts!
        {% endfor %}
    </div>
    <br>
    {% last_posts %}
{% endblock %}
