{% extends 'blog/parent/base.html' %}
{% block title %}Account form{% endblock %}
{% block content %}
    <h1 style="color: navy; margin-right: auto">Forms of Accounts {{ account.user.first_name }}</h1>
    <form method="post">
        {% csrf_token %}
        first name:
        <input type="text" name="first_name" required
            {% if form.first_name.value %}
                value="{{ form.first_name.value }}"
            {% else value="{{ form.first_name.value }}"%}
                value="{{ account.user.first_name | default:'' }}"
            {% endif %}
        >
        <br>
        last name:
        <input type="text" name="last_name" required
            {% if form.last_name.value %}
                value="{{ form.last_name.value }}"
            {% else %}
                value="{{ account.user.last_name | default:'' }}"
            {% endif %}
        >
        <br>
        age:
        <input type="number" name="age" required
            {% if form.age.value %}
                value="{{ form.age.value }}"
            {% else %}
                value="{{ account.age | default:'' }}"
            {% endif %}
        >
        <br>
        phone:
        <input type="text" name="phone"
            {% if form.phone.value %}
                value="{{ form.phone.value }}"
            {% else %}
                value="{{ account.phone | default:'' }}"
            {% endif %}
        >
        <br>
        gender:
        Male<input type="radio" name="gender" value="male" {% if account.gender == 'male' %} checked {% endif %}>
        Female<input type="radio" name="gender" value="female" {% if account.gender == 'female' %} checked {% endif %}>
        <br>
        address:
        <textarea name="address" required>{% if form.address.value %}{{ form.address.value }}{% else %}{{ account.address | default:'' }}{% endif %}</textarea>

        <br><br>
        <input type="submit" value="Save">
    </form>

    {% if form.errors %}
        fix above errors:
        <br>
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ field.label }} : {{ error }}
                    <br>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
    {% endif %}

{% endblock %}