{% extends 'blog/parent/base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        Old Password:
        <input type="password" name="old_password">
        <br>
        New Password:
        <input type="password" name="new_password1">
        <br>
        rewrite New Password:
        <input type="password" name="new_password2">
        <br>
        <input type="submit" value="change">
    </form>
        <br>
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ field.label }} : {{ error }}
                    <br>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
{% endblock %}